@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #77d9dd, 0 0 20px #77d9dd, 0 0 25px #77d9dd, 0 0 30px #77d9dd, 0 0 35px #77d9dd;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #77d9dd, 0 0 40px #77d9dd, 0 0 50px #77d9dd, 0 0 60px #77d9dd, 0 0 70px #77d9dd;
    }
}

.cardHeader {
    animation: glow 1s ease-in-out infinite alternate;
}