body {
    background: #0a1628 !important;
}

.logo {
    width: 100%;
    height: auto;   
    margin-top: 350px;
    margin-bottom: 350px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 3500px;
    width: 100%;
}