.card {
    width: 100%;
    flex: 1;
    margin-top: 12%;
    /* padding: 5%; */
    filter: drop-shadow(18px 18px 20px rgba(0, 0, 0, 0.5));
    background-color: #0a1628 !important;
    border:none !important;
    color: white !important;
    border-radius: 20px !important;
    min-height: 0.5vh;
}

h1 {
    font-size: 80px !important; 
    text-align: center;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
    height: 150px;
    letter-spacing: 10px;
    
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #77d9dd, 0 0 20px #77d9dd, 0 0 25px #77d9dd, 0 0 30px #77d9dd, 0 0 35px #77d9dd;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #77d9dd, 0 0 40px #77d9dd, 0 0 50px #77d9dd, 0 0 60px #77d9dd, 0 0 70px #77d9dd;
    }
  }

p {
    text-align: center;
}

.textContainer {
    padding: 5%;
    position: absolute;
}

.cardImage {
    width: 100%;
    position: relative;
    object-fit: fill;
    border-radius: 20px;
    opacity: 0.5;
    object-fit: fill;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 15%, transparent 55%);
    mask-image: linear-gradient(to bottom, black 15%, transparent 55%);
}

